@media(max-width:70em){
    html{
        
       
        
    }
    nav {
     
    }
}

@media(max-width:63em){
   
    .hero-im img {
        height: 38rem;
        transform: scale(1.3);
        position: absolute;
        top: -8%;
        left: -0;
        right: 50;
    }
    .hero-inner{
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 7rem;
        text-align: center;
    }
    .hero-left{
        margin-top: 5rem;
    }
    .hero-btn{
        display: flex;
        justify-content: center;
    }
    .hero-textbox{
    padding-inline: 10rem;
    }
    .primary-heading{
        font-size: 3.4rem;
    }
    .form-col-grid-2{
        grid-template-columns: 3fr 2fr;
    }
    .form-input{
       display: flex;
       flex-direction: column;
       justify-content: center;
    }
    .form-image{
        display: none;
    }
    .catagories-items{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
   
}

@media(max-width:884px){
    .dishes-items{
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
    }
    .grid-col{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      align-content: center;
    }
    
    .grid-col-3{
        grid-template-columns: 1fr;
        align-content: center;
        align-items: center;
    }
   .services-items{
     justify-content: center;
     
}
.services-item{
    padding-bottom: 2rem;
}
.form-col-grid-2{
    grid-template-columns: 1fr;
}
.nav-icons{
    display: flex;
    flex-direction: column;
}
@keyframes slideinleft {
    0%{
        transform: translatex(-50%);

    }
    100%{
        transform: translatex(0);
    }
}
.nav-items{
   position: absolute;
   width: 50%;
   display: flex;
   flex-direction: column;
   align-items: center;
   bottom: 50%;
  top: 0;
   left: 0%;
   z-index: 100;
   position: fixed;
   
   background-color: black;
   padding-top: 2rem;
   height: 100vh;
   animation: slideinleft  0.5s;
  
  

   
}
.nav-items li {
    display: flex;
    justify-content: center;
    align-items: center;

}
.hidden{
    display: none;
}
.header{
    position: relative;
    max-width: 120rem;

	margin-inline: auto;
	padding-inline: 3.2rem;
}
.openmenu{
   height: 4rem;
   width: 4rem;
   position: absolute;
   top: 0%;
   right: 0;
   display: block;
   cursor: pointer;
   margin-top: 1.4rem;
   margin-right: 0.5rem;
   transition: all 0.4s;
  
}
.openmenu:hover{
    color:#5fe26c;
}
.dishes-item{
    padding-inline: 0;
    width: 70%;
    
}
}

@media(max-width: 600px){
   .dishes-item{
    width: 100%;
   } 
   
   .grid-col-4{
      grid-template-columns: repeat(2, 1fr);
   } 
   .form-input{
    width: 100%;
   }
   .hero-left{
    display: none;
   }
   
}


